<div class="header">
  <div class="toolbar">
    <div class="container clearfix">
      <%= lang_link_to t('site_title'), 'index.html', lang: @lang, title: t('back-home'), class: 'branding box-transition' %>
      <h1><%= t('site_title') %></h1>
      <ul>
        <%#<li class="my-selections"> %>
        <%#<a href="/archive/my_selections.html" class="module-link">My Selections <span class="notification">12</span></a>%>
        <%#</li>%>
        <li>
        <% target_lang = @lang == :en ? :fa : :en %>
        <%= lang_link_to(t('language_option'), 'index.html', lang: target_lang, class: 'lang', dir: 'rtl') %> 
        </li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <div class="container clearfix">
      <ul class="clearfix">
        <li>
        <%= lang_link_to("#{t('archive')} <span>#{t('explore_the_archive')}</span>", 'browse.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to("#{t('collections')} <span>#{t 'view-our-holdings'}</span>", 'collections/manifest.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to("#{t 'contact'}<span>#{t 'get-in-touch'}</span>", 'contact.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to("#{t 'faq'}<span>#{t 'have-questions?'}</span>", 'faq.html', lang: @lang) %>
        </li>
      </ul>
    </div>
  </div>
</div>
