<div id="pageFooterWrapper">
  <div id="pageFooter" class="container">
    <div class="ten columns">
      <ul class="footerNav">
        <li>
        <%= lang_link_to(t('about'), 'about.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('credits'), 'credits.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('permissions'), 'permissions.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('related_links'), 'links.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('donate'), 'donate.html', lang: @lang) %>
        </li>
      </ul>
    </div>
    <div class="six columns">
      <a class="noimage" href="http://www.harvard.edu" target="_blank">
        <img alt="Harvard Logo" src="/images/harvard.gif"></a>
      <p>
      Copyright © 2012  WWQI. All rights reserved.
      </p>
    </div>

  </div>
</div>
