</div> <!-- end nonFooter -->
<script>
  $(function () {
    $("#browse-bar h3.has-children a").click( function() {
      $(this).parent().toggleClass("active").next(".list").animate({
        opacity: 'toggle',
        height: 'toggle'
      }, 300);
      return false;

    });
    // Slideshow 1
    $("#slides").responsiveSlides({
      maxwidth : 800,
      speed    : 800
    });

        $('#carousel').elastislide({
          imageW   : 230,
          minItems : 1,
          border   : 0,
          margin   : 0
        });

		$('audio,video').mediaelementplayer({audioWidth: 260});
		
		$('.facet-modal').on('shown', function () {
		  // do something…
			console.log("I am shown");
			$('.modal-body',this).columnize({columns:4});
		})
   
  });

</script>
<div id="pageFooterWrapper">
  <div id="pageFooter" class="container">
    <div class="ten columns">
      <ul class="footerNav">
        <li>
        <%= lang_link_to(t('about'), 'about.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('credits'), 'credits.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('permissions'), 'permissions.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('sponsors'), 'sponsors.html', lang: @lang) %>
        </li>
        <li>
        <%= lang_link_to(t('donate'), 'donate.html', lang: @lang) %>
        </li>
      </ul>
    </div>
    <div class="six columns">
      <a class="noimage" href="http://www.harvard.edu" target="_blank">
        <img alt="Harvard Logo" src="/images/harvard.gif"></a>
      <p>
      Copyright © 2012  WWQI. All rights reserved.
      </p>
    </div>
  </div>
</div>
</body>
</html>
