<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir=<%= @lang.to_s == 'en' ? "ltr" : "rtl" %>><!--<![endif]-->

<head>
	<meta charset="utf-8">

  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  

  <title><%= t('site_title') %><%= " | #{@object.title}" if @object.respond_to?(:title) && @object.try(:title) %></title>
  <meta name="description" content="<%= t('archive_description') %>" />
  <meta name="author" content="<%= t('site_author') %>">

	<!-- facebook metatags 
	================================================== -->
  <meta property="og:site_name" content="<%= t('site_title') %>"/>

  <% if @object.respond_to?(:title) && @object.try(:title) %> 
    <meta property="og:title" content="<%= @object.title %>" />
  <% end %>

  <% if @object.respond_to?(:thumbnail) && @object.try(:thumbnail) %>
    <meta property="og:image" content="<%= @object.thumbnail %>" />
    <link rel="image_src" href="<%= @object.thumbnail %>" />
  <% end %>

  <!-- CSS 
  ================================================== -->

  <!-- Skeleton Stuff -->
  <%= stylesheet "base"          %>
  <%= stylesheet "skeleton"      %>
  <%= stylesheet "layout"        %>
  <%  if @lang.to_sym == :fa     %>
  <%=   stylesheet "skeleton_fa" %>
  <%=   stylesheet "layout_fa"   %>
  <%  end                        %>

  <!-- fonts.com persian fonts -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/b89b6cfa-e121-4beb-b9d0-77752b13ec9d.css"/>

  <!-- WWQI -->
  <%= stylesheet "style", media: "screen", type: "text/css" %> 

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <%= javascript "jquery.cookie" %>
  <%= javascript "languagePreference" %>
  <%= javascript "jquery.ui.widget.min" %>
  <%= javascript "mediaelement-and-player.min" %>

  <%= stylesheet "mediaelementplayer.min" %>
  <%= stylesheet "pictos", charset: "utf-8", type: "text/css" %>

  <%= javascript "responsiveslides" %>
  <%= javascript "jquery.elastislide" %>
  <%= javascript "jquery.easing.1.3" %>

  <%= stylesheet "responsiveslides" %>
  <%= stylesheet "elastislide" %>

  <%= javascript "jquery.modal" %>
  <%= javascript "columnizer" %>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>
  <div id="nonFooter">
    <div class="header">
      <div class="toolbar">
        <div class="container clearfix">
          <%= lang_link_to t('site_title'), 'index.html', lang: @lang, title: t('back to home'), class: 'branding box-transition' %>
          <h1><%= t('site_title') %></h1>
          <ul>
            <%#<li class="my-selections"> %>
            <%#<a href="/archive/my_selections.html" class="module-link">My Selections <span class="notification">12</span></a>%>
            <%#</li>%>
            <li>
              <% target_lang = @lang.to_sym == :en ? :fa : :en %>
              <% text_lang = @lang.to_sym == :en ? 'فارسی' : 'English' %>

              <% if on_search_page? %>
                <a href='<%= loopback(params.merge(lang: target_lang)).to_url %>' class='lang lang-selector', dir='rtl'><%= text_lang %></a>
              <% else %>
                <a href='<%= "#{Environment.main_site_url}#{@object.__url(target_lang)}" %>' class='lang lang-selector' dir='rtl'>
                  <%= text_lang %>
                </a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu">
        <div class="container clearfix">
          <ul class="clearfix">
            <li>
            <%= lang_link_to("#{t('archive')}<span>#{t('explore_the_archive')}</span>", 'browse.html', lang: @lang) %>
            </li>
            <li>
            <%= lang_link_to("#{t('collections')}<span>#{t('view-our-holdings')}</span>", 'collections/manifest.html', lang: @lang) %>
            </li>
            <li>
            <%= lang_link_to("#{t('people')}<span>#{t('discover-individuals')}</span>", 'people/manifest.html', lang: @lang) %>
            </li>
            <li>
              <a href="<%= Environment.user_platform_url %>">
                <%= t('user-platform') %><span><%= t('share-your-research') %></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
