<%# encoding: utf-8 %>
<% load_example_browse_page_object! unless $GENERATE %>

<%= partial :header %>
<div id="content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix dark">
    <div class="clearfix shaded-panel has-sidebar browse-page">


      <div class="clearfix twelve columns">
        <div class="browse-search">
          <h1> <%= t('search') %> </h1>
          <div class="clearfix searchbox">
            <div class="clearfix" id="search-form">
              <%= partial :search_form %>
            </div>
          </div>
        </div>
        <div class="browse-by-type">
          <h1><%= t("genres") %><a href="<%= SEARCH_BASE_URL %>/<%= @lang %>/genres.html" class="view-all"><%= t("view_all") %></a></h1>
          <div class="twelve-columns clearfix">
            <% @object.browse_entries.each_slice(3) do |slice| %>
              <% slice.each_with_index do |(genre, image), idx| %>
                <div class="two columns <%= 'omega' if idx == 2 %>">
                  <a href="<%= loopback(lang: @lang).update_filter("genres_#{@lang}".to_sym, genre.name).to_url %>">
                    <img src="<%= image %>" alt="<%= genre.name %>" />
                    <span><%= genre.name %></span>
                  </a>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="clearfix special-searches">
          <div class="six columns alpha">
            <h3><a href="<%= loopback.update_filter('translations', 'has-translation') %>"><span class="icon">></span> <%= t("view_all_items_with_translations") %></a></h3>
          </div>
          <div class="six columns omega">
            <h3><a href="<%= loopback.update_filter('transcriptions', 'has-transcription') %>"><span class="icon">p</span> <%= t("view_all_items_with_transcriptions") %></a></h3>
          </div>
        </div>

        <div class="clearfix secondary-browse-facets">
          <div class="four columns alpha people">
            <h3><span class="icon">g</span> <%= t("people") %><a class="view-all" href="<%= SEARCH_BASE_URL %>/<%= @lang %>/people.html"><%= t("view_all") %></a></h3>
            <ul class="default">
              <% @object.tags_for('people').each do |name, count| %>
                <li>
                <a href="<%= loopback.update_filter("people_#{@lang}", name).to_url %>" class="">
                  <%= name %> <span>(<%= count %>)</span>
                </a>
                </li>
              <% end %> 
            </ul>
          </div>

          <div class="four columns places">
            <h3><span class="icon">@</span> <%= t("places") %> <a href="<%= SEARCH_BASE_URL %>/<%= @lang %>/places.html" class="view-all"><%= t("view_all") %></a></h3>
            <ul class="default">
              <% @object.tags_for('places').each do |name, count| %>
                <li>
                <a href="<%= loopback.update_filter("places_#{@lang}", name).to_url %>" class="">
                  <%= name %> <span>(<%= count %>)</span>
                </a>
                </li>
              <% end %> 
            </ul>
          </div>

          <div class="four columns omega subjects">
            <h3><span class="icon">n</span> <%= t("subjects") %><a href="<%= SEARCH_BASE_URL %>/<%= @lang %>/subjects.html" class="view-all"><%= t("view_all") %></a></h3>
            <ul class="default">
              <% @object.tags_for('subjects').each do |name, count| %>
                <li>
                <a href="<%= loopback.update_filter("subjects_#{@lang}", name).to_url %>" class="">
                  <%= name %> <span>(<%= count %>)</span>
                </a>
                </li>
              <% end %> 
            </ul>
          </div>

        </div>
      </div>
      <div id="browse-bar" class="four columns" style="background:transparent">
        <div class="browse-by-period">
          <h1><%= t('periods') %></h1>
          <ul>
            <% @object.period_list.each do |period| %>
              <li class="<%= period.slug %>">
              <a href="<%= loopback.from(period.start_time).to(period.end_time).to_url %>">
                <em><img src="/images/blank.gif"></em>
                <span><%= period.name%></span>
              </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
