<%# encoding: utf-8 %>
<% load_example_collection_index! unless $GENERATE # prevent loading the example if we're generating the static pages %>

<%= partial "head_content" %>



<body>
  <div id="nonFooter">
    <%= partial "body_header" %>
    <div id="content">
      <div class="container clearfix">
        <!-- rails template content -->
        <div class="clearfix shaded-panel">
          <div class="page-head">
            <div class="extra-padding">
              <h1><%= @object.title %></h1>
              <p>	
              <%= @object.description %>
              </p>
            </div>
          </div>
          <ul class="collections dark-list">
            <% @object.content.each do |collection| %>

              <% if collection.in_process? %>
              <% end %>

              <li class="clearfix">
              <a href="<%= collection.url %>" class="clearfix">
                <div class="collection-thumb ">
                  <% if collection.thumbnail %>
                    <img alt="<%= collection.title %>" src="<%= collection.thumbnail %>">
                  <% else %>
                    <img alt="<%= collection.title %>" src="/images/empty.jpg">
                  <% end %>
                  <div class="layer1"></div>
                  <div class="layer2"></div>
                </div>
                <div class="collection-meta">
                  <span class="items-in-collection"><strong><%= collection.item_count %></strong>Items</span>
                  <div class="collection-essentials">
                    <span class="date"><%= collection.updated %></span>
                    <h3><%= collection.title %></h3>
                    <p><%= collection.description %></p>
                  </div>
                </div>
              </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- end rails template content -->
    </div> <!-- end container -->
  </div><!-- end content -->
</div> <!-- end nonFooter -->
<%= partial "footer" %>
</body>
</html>
