<%# encoding: utf-8 %>
<% load_example_collection_index! unless $GENERATE # prevent loading the example if we're generating the static pages %>
<%= partial "header" %>
<div id="content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <!-- rails template content -->
    <div class="clearfix shaded-panel">
    
        <div class="extra-padding">
          <h1><%= @object.title %></h1>
          <p>	
          <%= markdown @object.description %>
          </p>
        </div>
      <ul class="collections dark-list">
        <% @object.content(@lang).each do |collection| %>

          <% if collection.in_process? %>
          <% end %>

          <li class="clearfix <%= collection.draft? ? "draft" : "" %>">
          <a href="<%= collection.url %>" class="clearfix">
			<span class="draft-badge"></span>
            <div class="collection-thumb ">
              <% if collection.thumbnail %>
                <img alt="<%= collection.title %>" src="<%= collection.thumbnail %>">
              <% else %>
                <img alt="<%= collection.title %>" src="/images/empty.jpg">
              <% end %>
              <div class="layer1"></div>
              <div class="layer2"></div>
            </div>
            <div class="collection-meta">
              <span class="items-in-collection"><div style="padding-bottom:10px;"><strong><%= with_farsi_numbers collection.count %></strong><%= t("items") %></div>
                    <strong><%= with_farsi_numbers collection.image_count %></strong><%= t("images") %>
                  </span>
              <div class="collection-essentials">
                <h3><%= collection.title %></h3>
                <p><%= strip_a_tags(markdown(collection.description)) %></p>
              </div>
            </div>
          </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div><!-- end content -->
<%= partial "footer" %>
