<%# encoding: utf-8                                                                    %>
<%= partial "header" %>
<div id="content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div>

    <div class="clearfix" id="indexList">

      <div class="extra-padding">

        <div class="otherIndexes">
          <a href="<%= "/#{@lang}/genres.html" %>">  <%= t('genres') %>  </a>
          <a href="<%= "/#{@lang}/people.html" %>">  <%= t('people') %>  </a>
          <a href="<%= "/#{@lang}/places.html" %>">  <%= t('places') %>  </a>
          <a href="<%= "/#{@lang}/subjects.html" %>"><%= t('subjects') %></a>
        </div>
        <h2><%= @type.capitalize %> Index</h2>
      </div>
      <%
          column_2 = @content.slice!((@content.size/2.0).round..@content.size)
        %>
      <div class="sixteen columns clearfix offset-by-one">
        <ul class="subjects_list seven columns alpha">
          <% @content.sort_by{|name, count| name.downcase}.each do |name, count| %>
            <li class="person_item">
            <a href="<%= loopback(lang: @lang).update_filter("#{@type.downcase}_#{@lang}".to_sym, name).to_url %>"><%= name %> <span>(<%= count %>)</span></a>
            </li>
          <% end %>
        </ul>
        <ul class="subjects_list seven columns alpha">
          <% column_2.sort_by{|name, count| name.downcase}.each do |name, count| %>
            <li class="person_item">
            <a href="<%= loopback(lang: @lang).update_filter("#{@type}_#{@lang}".to_sym, name).to_url %>"><%= name %> <span>(<%= count %>)</span></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= partial "footer" %>
