<%# encoding: utf-8                                                                    %>
<% unless $GENERATE # prevent loading the example if we're generating the static pages %>
  <%   load_example_item! if @lang == :en                                                %>
  <%   load_example_item_farsi! if @lang == :fa                                          %>
<% end                                                                                 %>

<%= partial "header" %>
<div id="content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <div class="item-page clearfix item<%= @object.image_count %> <%= @object.draft? ? "draft" : "" %>">
      <%= partial "item_tools" %>
	<span class="draft-badge"></span>
      <div class="item-essentials container clearfix">
		
        <div class="four columns item-thumbnail">
          <div class="item-image-frame stack rotated">
            <img src="<%= @object.try(:thumbnail) %>" alt="<%= @object.try(:title) %>">
          </div>
        </div>
        <div class="six columns">
          <h2><%= @object.title %></h2>
          <div class="description">
          <%= markdown @object.description %>
          </div>
        </div>

        <% if @object.harvard_link? %>
          <div class="six columns  omega last-column">
            <div class="item-links">
              <h1><%= t("images") %></h1>
              <a target="_blank" href="<%= @object.harvard_urls[:preferred] %>" rel="shadowbox[gallery]" title="<%= @object.title %>"><%= t("view-this-item") %></a>
              <% if @object.secondary_urns? %>
                <% @object.harvard_urls[:secondary].each do |url| %>
                  <a target="_blank" href="<%= url %>?buttons=y" title="View Additional Image"><%= t("view-additional-image") %></a>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="item-below-fold">
        <div class="ten columns alpha">

          <% if @object.audio_clip? %>
            <div class="item-audio">
              <div class="clearfix">
                <h1>Audio</h1>
                <audio id="player2" src="<%= @object.audio_clip %>" type="audio/mp3" controls="controls">
                <object width="260" height="30" type="application/x-shockwave-flash" data="/stylesheets/flashmediaelement.swf">
                  <param name="movie" value="/stylesheets/flashmediaelement.swf" /> 
                  <param name="flashvars" value="controls=true&amp;file=<%= @object.audio_clip %>" /> 		
                </object>
                </audio>

              </div>
              <hr>
              <h5><%= @object.audio_clip_caption %></h5>

            </div>
          <% end %>

          <% if @object.translation_to_english? %>
            <div class="item-translation" dir='ltr'>
              <a href="#translation-to-english"  data-toggle="modal" data-dynamic="true"  name='translation-to-english'>
                <h1><%= t('translation') %></h1>
              </a>
			</div>
		      <div id="translation-to-english" class="modal hide fade" style="display:none">
			        <div class="modal-header">
						 <a class="close" data-dismiss="modal" >&times;</a>
						<h2><%= t('translation')%></h2>	
					</div>
					<div class="modal-body">
						<%= markdown @object.translation_to_english %>
					</div>
             </div>
            
          <% end %>

          <% if @object.transcription_of_farsi? %>
            <div class="item-transcript">
              <a href="#transcription-of-farsi"  data-toggle="modal" data-dynamic="true" name='transcription-of-farsi'>
                <h1><%= t('transcription') %></h1>
              </a>
			</div>
			<div id="transcription-of-farsi" class="modal hide fade" style="display:none">
			        <div class="modal-header">
						 <a class="close" data-dismiss="modal" >&times;</a>
						<h2><%= t('transcription')%></h2>
					</div>
					<div class="modal-body">
						<%= markdown @object.transcription_of_farsi %>
					</div>
             </div>
          <% end %> 

          <div class="item-details">
            <h1><%= t("detail_description") %></h1>
            <ul>

              <% if @object.has_creator? %>
                <li class="description">
                <span><%= t("creator") %></span>
                <%= @object.creator.name %>
                </li>
              <% end %>

              <% if @object.date.present? %>
                <li class="description">
                <span><%= t("date") %></span>
                <%= with_farsi_numbers @object.local_date || t("undated") %>
                </li>
              <% else %> 
                <li class="description">
                <span><%= t("date") %></span>
                <%= with_farsi_numbers @object.local_date || t("undated") %>
                </li>
              <% end %>

              <% if @object.remarks.present? %>
                <li>
                <span><%= t("notes") %></span>
                <%= @object.remarks %>
                </li>
              <% end %>

              <% if @object.dimensions.present? %>
                <li>
                <span><%= t("dimensions") %></span>
                <%= @object.dimensions %>
                </li>
              <% end %>

              <% unless @object.collections.empty? %>
                <li>
                <span><%= t("collections") %></span>
                <% @object.collections.each do |coll| %>
                  <a href="<%= coll.url %>" class="tag" title="more"><%= coll.title %></a>
                <% end %>
                </li>
              <% end %>

              <% if @object.repository_credit.present? %>
                <li>
                <span><%= t("repository") %></span>
                <%= @object.repository_credit %>
                <% if @object.owner_tag.present? %>
                  <%= "(#{@object.owner_tag})" %>
                <% end %>
                </li>
              <% end %>

              <% if @object.restrictions.present? %>
                <li>
                <span><%= t("restrictions") %></span>
                <%= @object.restrictions %>
                </li>
              <% end %>

              <li>
              <span><%= t("accessed_on") %></span>
              <%= with_farsi_numbers @object.created %>
              </li>

              <li>
              <span><%= t("last_edited") %></span>
              <%= with_farsi_numbers @object.updated %>
              </li>

              <li>	
              <span><%= t("record_number") %></span> 
              <span class='english-numbers'><%= @object.accession_number %></span>
              </li>

            <li class="clear">
            &nbsp;
            </li>
          </ul>

        </div>
      </div>
      <div class="six columns omega last-column">
        <% if @object.genres.present? || @object.people.present? || @object.places.present? || @object.subjects.present? %>
          <div class="item_related">
            <ul>
              <% if @object.genres.present? %>
                <li>
                <span class="title genre"><%= t("genres") %></span>
                <% @object.genres.each do |genre| %>
                  <a href="<%= loopback(lang: @lang).update_filter("genres_#{@lang}", genre.name.to_s).to_url %>" class="tag">
                    <%= genre.name %>
                  </a>
                <% end %>
                </li>
              <% end %>

              <% if @object.people.present? %>
                <li>
                <span class="title people"><%= t("people") %></span>
                <% @object.people.each do |person| %>
                  <a href="<%= loopback(lang: @lang).update_filter("people_#{@lang}", person.name.to_s).to_url %>" class="tag">
                    <%= person.name %>
                  </a>
                <% end %>
                </li>
              <% end %>

              <% if @object.subjects.present? %>
                <li>
                <span class="title subject"><%= t("subjects") %></span>
                <% @object.subjects.each do |subject| %>
                  <a href="<%= loopback(lang: @lang).update_filter("subjects_#{@lang}", subject.name.to_s).to_url %>" class="tag">
                    <%= subject.name %>
                  </a>
                <% end %>
                </li>
              <% end %>

              <% if @object.places.present? %>
                <li>
                <span class="title place"><%= t("places") %></span>
                <% @object.places.each do |place| %>
                  <a href="<%= loopback(lang: @lang).update_filter("places_#{@lang}", place.name.to_s).to_url %>" class="tag">
                    <%= place.name %>
                  </a>
                <% end %>
                </li>
              <% end %>

              <% if @object.related_items.present? %>
                <li>
                <span class="title related_item"><%= t("related_items") %></span>
                <% @object.related_items.each do |related_item| %>
                  <a href="<%= related_item.url%>" class="tag">
                    <%= related_item.title %>
                  </a>
                <% end %>
              </li>
              <% end %>
            <% if user_platform_url? %>
              <li id='user-platform-links'>
                <span class="title activities">
                  <%= t("activities") %>
                </span>
                <a href="<%= construct_user_platform_url('Question', 'new', @object.accession_number) %>" class="tag">Ask a question</a>
                <a href="<%= construct_user_platform_url('Discussion', 'new', @object.accession_number) %>" class="tag">Start a discussion</a>
                <a href="<%= construct_user_platform_url('Research', 'new', @object.accession_number) %>" class="tag">Start research</a>
              </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<%= partial "footer" %>
<% if user_platform_url? %>
<script type='text/javascript'>
  $.ajax({ url:
    '<%= "#{Environment.user_platform_url}/activity/activity_data.json?accession_no=#{@object.accession_number}"%>',
    type: 'get', dataType: 'jsonp'
  }).done(function(data) {
    <% %w(Discussion Question Research Transcription Translation Biography).each do |type| %>
      count = data['<%= type %>'];
      if (count && count > 0) {
        $('#user-platform-links').append(
          '<a href='
          + "<%= construct_user_platform_url(type, 'list', "#{@object.accession_number}")%>"
          + ' class="description tag"><%= type %> ('
          + count
          + ')</a>');
      }
    <% end %>
  });
</script>
<% end %>
