<%# encoding: utf-8                                                                    %>
<% unless $GENERATE # prevent loading the example if we're generating the static pages %>
<%   load_example_item! if @lang == "en"                                               %>
<%   load_example_item_farsi! if @lang == "fa"                                         %>
<% end                                                                                 %>

<%= partial "head_content" %>
<body>
  <div id="nonFooter">
    <%= partial "body_header" %>

    <div id="content">
      <div class="container clearfix">
        <!-- rails template content -->

        <div class="item-page clearfix">
          <%= partial "item_tools" %>

          <!-- end pagination bar -->

          <div class="item-essentials container clearfix">

            <div class="four columns item-thumbnail">
              <!-- TODO: Implement subcollections 
              <span class="image-count">24 images</span>
              -->
              <div class="item-image-frame">
                <img src="<%= @object.thumbnail %>" alt="<%= @object.title %>">
              </div>

            </div>

            <div class="six columns">
              <h2><%= @object.title %></h2>
              <p class="description">
              <%= @object.description %>
              </p>
            </div>

            <div class="six columns  omega last-column">

              <div class="item-links">
                <h1> Images </h1>
                <a href="<%= @object.harvard_url %>" rel="shadowbox[gallery]" title="Anthology of Food, [ca. 1865]">View This Item</a>
                <% @object.secondary_urls.each do |url| %>
                  <a href="<%= url %>" title="View Additional Image">View Additional Image</a>
                <% end %>
              </div>
            </div>

          </div>


          <div class="item-below-fold">

            <div class="ten columns alpha">

              <% if @object.audio_clip %>
                <div class="item-audio">
                  <h1>Audio</h1>
                  <h5><%= @object.audio_clip_caption %></h5>
                  <audio class="AudioPlayerV1" preload="none" data-fallback="/AudioPlayerV1.swf">
                  <source type="audio/mpeg" src="<%= @object.audio_clip %>" />
                  </audio>
                </div>
              <% end %>


              <% if false # not working yet %>
                <% if @object.translation.present? %>
                  <div class="item-translation">
                    <h1><%= t('translation') %></h1>
                    <a href="#">View Item Translation</a>
                  </div>
                <% end %>

                <% if @object.transcript.present? %>
                  <div class="item-transcript">
                    <h1> Transcript </h1>
                    <a href="#">View Item Transcript</a>
                  </div>
                <% end %> 
              <% end %> 


              <div class="item-details">
                <h1>Item Details</h1>
                <ul>

                  <% if @object.has_creator? %>
                    <li class="description">
                    <span>Creator:</span>
                    <%= @object.creator.name %>
                    </li>
                  <% end %>

                  <% if @object.date.present? %>
                    <li class="description">
                    <span>Date:</span>
                    <%= @object.date.try(:representation) || "Undated" %>
                    </li>
                  <% end %>

                  <% if @object.notes.present? %>
                    <li>
                    <span>Notes:</span>
                    <%= @object.notes %>
                    </li>
                  <% end %>

                  <% if @object.dimensions.present? %>
                    <li>
                    <span>Dimensions:</span>
                    <%= @object.dimensions %>
                    </li>
                  <% end %>

                  <% unless @object.collections.empty? %>
                    <li>
                    <span>Collections:</span>
                    <% @object.collections.each do |coll| %>
                      <a href="<%= coll.url %>" class="tag" title="more"><%= coll.title %></a>
                    <% end %>
                    </li>
                  <% end %>

                  <% if @object.repository.present? %>
                    <li>
                    <span>Repository:</span>
                    <%= @object.repository %>
                    </li>
                  <% end %>

                  <% if @object.collections.first.restrictions.present? %>
                    <li>
                      <span>Restrictions:</span>
                      <%= @object.collections.first.restrictions %>
                    </li>
                  <% end %>

                  <li>
                  <span>Accessed:</span>
                  <%= @object.created %>
                  </li>

                  <li>
                  <span>Last Edited:</span>
                  <%= @object.updated %>
                  </li>

                  <li>	
                  <span>Record no.:</span> <%= @object.accession_number %>		
                </li>

                <li class="clear">
                &nbsp;
                </li>
              </ul>

            </div>
          </div>
          <div class="six columns omega last-column">

            <% if @object.genres.present? || @object.people.present? || @object.places.present? || @object.subjects.present? %>
              <div class="item_related">
                <ul>
                  <% if @object.genres.present? %>
                    <li>
                    <span class="title genre">Genres</span>
                    <% @object.genres.each do |genre| %>
                      <a href="<%= genre.url_to_facet %>" class="tag"><%= genre.name %></a>
                    <% end %>
                    </li>
                  <% end %>

                  <% if @object.people.present? %>
                    <li>
                    <span class="title people">People</span>
                    <% @object.people.each do |person| %>
                      <a href="<%= person.url %>" class="tag"><%= person.name %></a>
                    <% end %>
                    </li>
                  <% end %>

                  <% if @object.subjects.present? %>
                    <li>
                    <span class="title subject">Subjects</span>
                    <% @object.subjects.each do |subject| %>
                      <a href="<%= subject.url_to_facet %>" class="tag"><%= subject.name %></a>
                    <% end %>
                    </li>
                  <% end %>

                  <% if @object.places.present? %>
                    <li>
                    <span class="title place">Places</span>
                    <% @object.places.each do |place| %>
                      <a href="<%= place.url %>" class="tag"><%= place.name %></a>
                    <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= partial "print_popup" %>

      <%= partial "email_popups" %>

      <!-- end rails template content -->
    </div> <!-- end container -->
  </div><!-- end content -->
</div> <!-- end nonFooter -->
<%= partial "footer" %>
</body>
</html>
