<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->

<head>
	<meta charset="utf-8">

  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  

  <title><%= t('site_title', :en) %> | <%= t('site_title', :fa) %></title> 
  <meta name="description" content="<%= t('archive_description', :en) %>" />
  <meta name="author" content="<%= t('site_author', :en) %>">

  <!-- CSS 
  ================================================== -->

  <!-- Skeleton Stuff -->
  <%= stylesheet "base"          %>
  <%= stylesheet "skeleton"      %>
  <%= stylesheet "layout"        %>

  <!-- WWQI -->
  <%= stylesheet "style", media: "screen", type: "text/css" %> 

	<!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body id="landing">
  <div id="nonFooter">
    <div class="header">
      <div class="toolbar">
        <div class="container clearfix">
          <h1 class="title-en"><%= t('site_title', :en) %></h1>
          <h1 class="title-fa" dir="rtl"><%= t('site_title', :fa) %></h1>
        </div>
      </div>
      <div class="menu">
      </div>
    </div>

    <!-- content section -->
    <div id="content">
      <div class="container clearfix">
        <div class="clearfix shaded-panel">

          <div class="page-head dark"></div>

          <div id="home-main">

            <div id="language-selector" class="clearfix">
              <div id="language-selector-en">
                <div class="language-selector-text">
                  <h1><%= t('welcome_message', :en) %></h1>
                  <h2><%= t('home_welcome_message', :en) %></h2>
                </div>
                
                <h1><%= t('choose-language-option', :en) %></h1>
                <a href="/en/index.html" class="lang-selector"><%= t('language_option', :fa) %></a>
              </div>
              
              <div id="language-selector-fa">
                <div class="language-selector-text">
                  <h1><%= t('welcome_message', :fa) %></h1>
                  <h2><%= t('home_welcome_message', :fa) %></h2>
                </div>
                
                <h1><%= t('choose-language-option', :fa) %></h1>
                <a href="/fa/index.html" class="lang-selector"><%= t('language_option', :en) %></a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  
  <div id="pageFooterWrapper">
    <div id="pageFooter" class="container">
      <a class="noimage" href="http://www.harvard.edu" target="_blank">
        <img alt="Harvard Logo" src="/images/harvard.gif"></a>
      <p>
      Copyright &copy; 2012  WWQI. All rights reserved.
      </p>
    </div>
  </div>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

  <%= javascript "jquery.cookie" %>
  <%= javascript "languagePreference" %>
  <script type="text/javascript">
    var languagePref = $.cookie("languagePref");

    if (languagePref == 'fa') {
      window.location.replace("/fa/index.html");
    } else if (languagePref == 'en') {
      window.location.replace("/en/index.html");
    }

  </script>
</body>
</html>
