<%#encoding: utf-8%>
<%= partial :header %>
<div id="content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <div class="clearfix shaded-panel has-sidebar main-panel-is-dark " style="background-color:#222">
      <div class="clearfix twelve columns">
        <div class="browse-search">
          <h1> <%= t("search") %> </h1>
          <div class="clearfix searchbox">
            <%= partial :search_form %>
          </div>
          <div class="results-found">
            <%= t("total-results-found") %> <%= with_farsi_numbers @total_results %>
          </div>
        </div>

        <ul class="search-results collections dark-list">
          <% @results.each do |result| %>
            <li class="clearfix <%= result.draft? ? "draft" : "" %> <%= result.type %><% if result.type.downcase == "item" %><%= result.image_count %><% end %>">
            <a href="<%= "#{ENV["MAIN_SITE_URL"]}#{result.send("url_#{@lang}")}" %>" class="clearfix">
              <div class="collection-thumb stack rotated">
                <% if result.thumbnail %>
                  <img alt="<%= result.name %>" src="<%= result.thumbnail %>">

                <% else %>
                  <img alt="<%= result.name %>" src="/images/empty.jpg">

                <% end %>
              </div>
              <div class="collection-meta">
                <% if result.type.downcase == "collection" %>
                  <span class="items-in-collection"><strong><%= with_farsi_numbers result.count %></strong><%= t("items") %></span>
                <% else %>
                  <span class="items-in-collection"><strong><%= with_farsi_numbers result.image_count %></strong> <%= t('images') %></span>
                <% end %>
                <div class="collection-essentials">
                  <span class="date"><%= result.created_at %></span>
                  <h3><%= result.send("title_#{@lang}") || result.send("name_#{@lang}")%></h3>
                  <p><%= result.send("description_#{@lang}") %></p>
                </div>
              </div>
				<span class="draft-badge"></span>
            </a>
            </li>
          <% end %>
        </ul>
        <ul id="pagin" class="search-bottom-list">
          <li class="prev">
          <% if loopback.prev_page?(@total_results) %>
            <a  href=<%= loopback.decrement_page.to_url %>>&laquo; <%= t("previous") %></a> 
          <% end %>
          </li>
          <li class="next">
          <% if loopback.next_page?(@total_results) %>
            <a  href=<%= loopback.increment_page.to_url %>><%= t("next") %> &raquo;</a> 
          <% end %>
          </li>
        </ul>
      </div>
      <div id="browse-bar" class="four columns">
        <div class="current-filters">
          <h1><%= t("filter") %></h1>
          <% first = 'first' %>
        </div>
        <% @facets.each.with_index do |(facet, content), i| %>
          <h3 class='has-children <%= first %> active'><a href='#'><%= t(*facet.split('_')) %></a></h3>
          <div class='list'>
            <ul class='default facets <%= facet.split('_').first %>'>
              <% if loopback.has_filters? 
                   content['terms'].delete_if do |term| 
                     loopback.filters.any? {|type, value| value != term['term'] && type == facet} 
                   end 
              end %>


            <% content['terms'].take(20).each do |term| %>
              <%= facet_link(facet, term) %>
            <% end %>
			<% if content['terms'].size > 20 %>
			<li><a href="#<%= facet.split('_').first %>-modal" data-toggle="modal" data-dynamic="true"> <%= t("more") %> </a></li>
            <div class="modal hide fade facet-modal" style="display:none" id="<%= facet.split('_').first %>-modal">
				<div class="modal-header">
					 <a class="close" data-dismiss="modal" >&times;</a>
					<h2><%= t(*facet.split('_')) %></h2>
				</div>
				<div class="modal-body">
					<% content['terms'].each do |term| %>
		                <%= facet_link(facet, term) %>
		              <% end %>
				</div>
            </div>
			<% end %>
          </ul>
        </div>
        <% first = '' %>
      <% end %>

      <h3 class='has-children last active'><a href="#"><%= t("periods") %></a></h3>
      <div class='list'>
        <ul class='default'>
          <% period_filters[@lang.to_s].each do |period| %>
            <li>
            <a href="<%= loopback.from(period["start_at"]).to(period["end_at"]).to_url %>">
              <%= period["name"] %>
            </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>




