<html dir=<%= @lang == :en ? "ltr" : "rtl" %>>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
      <% if @lang == :en %>
        <%= erb :_search_form_en %>
      <% else %>
        <%= erb :_search_form_fa %>
      <% end %>

      <ul class="search-facets">
        <% @results.facets.keys.each do |facet_name_full| 
           facet_name = facet_name_full.split('_').first
        %>
          <li class="<%= facet_name %> facet"> 
            <span class='facet-name'> <%= facet_name %> </span>
            <ul class="terms"> 
              <% @results.facets[facet_name_full]["terms"].each do |hash|
                 name = hash["term"]
                 count = hash["count"]
              %>
                <a href=<%= return_link(:filter_term => "#{facet_name_full}:#{name}") %>>
                  <li class="term">
                    <span class="term-name"> <%= name %> </span>
                    <span class="term-count"> <%= count %> </span>
                  </li>
                </a>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="search-results">
        <% @results.each do |result| %>
          <li class="<%= result.type.downcase.dasherize %>">
          <a href="http://wwqi-static-site.s3.amazonaws.com<%= result.send("url_#{@lang}") %>">
            <span class="thumbnail">
              <% if result.thumbnail %>
                <img src="<%= result.thumbnail %>"/>
              <% end %>
            </span>
            <span class="name-and-description">
              <span class="name"> <%= result.send("name_#{@lang}") %> </span>
              <span class="description"> <%= result.send("description_#{@lang}") %> </span> 
            </span>
          </a>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
