<%= partial :head_content %>

<body>
  <div id="nonFooter">
    <%= partial :body_header %>


    <div id="content">
      <div class="container clearfix">
        <div class="clearfix shaded-panel has-sidebar main-panel-is-dark ">
          <div class="page-head dark"> 
          </div>

          <div class="clearfix twelve columns">
            <div class="browse-search">
              <h1> Search </h1>
              <div class="clearfix searchbox">
                <% if @lang == :en %>
                  <%= partial :search_form_en %>
                <% else %>
                  <%= partial :search_form_fa %>
                <% end %>
              </div>
              <span class="examples">
                Currently filtering by
                <ul>
                  <% loopback.filters.each do |type, value| %>
                    <li>
                    <a href='<%= loopback.remove_filter(type).to_url %>'>x</a>
                      <%= type %>: <%= value %> 
                    </li>
                  <% end %>
                </ul> 
              </span>
              <span>
                Total results found: <%= @total_results %>
              </span>
            </div>


            <ul class="search-results collections dark-list">
              <% @results.each do |result| %>
                <li class="clearfix">
                <a href="<%= "#{ENV["MAIN_SITE_URL"]}#{result.send("url_#{@lang}")}" %>" class="clearfix">
                  <div class="collection-thumb ">
                    <% if result.thumbnail %>
                      <img alt="<%= result.name %>" src="<%= result.thumbnail %>">
                      <div class="layer1"></div>
                      <div class="layer2"></div>
                    <% else %>
                      <img alt="<%= result.name %>" src="/images/empty.jpg">
                      <div class="layer1"></div>
                      <div class="layer2"></div>
                    <% end %>
                  </div>
                  <div class="collection-meta">
                    <% if result.type.downcase == "collection" %>
                      <span class="items-in-collection"><strong><%= result.count %></strong>Items</span>
                    <% else %>
                      <span class="items-in-collection"><%= result.type %></span>
                    <% end %>
                    <div class="collection-essentials">
                      <span class="date"><%= result.created_at %></span>
                      <h3><%= result.send("title_#{@lang}") || result.send("name_#{@lang}")%></h3>
                      <p><%= result.send("description_#{@lang}") %></p>
                    </div>
                  </div>
                </a>
                </li>
              <% end %>
            </ul>
            <ul class="search-bottom-list">
              <% @total_pages.times do |i| %>
                <li>
                  <a href=<%= loopback.increment_page.to_url %>><%= i+1 %></a> 
                </li>
              <% end %>
            </ul>
          </div>
          <div id="browse-bar" class="four columns">
            <h1>Filter</h1>
              <% first_last = 'first' %>
              <% @facets.each.with_index do |(facet, content), i| %>
                <% first_last = 'last' if i + 1 == @facets.size %>
                <h3 class='has-children <%= first_last %> active'><a href='#'><%= facet %></a></h3>
                <div class='list'>
                  <ul class='default'>
                    <% content['terms'].each do |term| %>
                      <li> 
                        <a href="<%= loopback.update_filter(facet, term['term']).to_url %>">
                          <%= term['term'] %>
                        </a>
                        <!-- <span>(<%= term['count'] %>)</span> -->
                      </li>
                    <% end %>
                  </ul>
                </div>
                <% first_last = '' %>
              <% end %>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div> <!-- end nonFooter -->
  <script>
    $(function () {

      $("#browse-bar h3.has-children a").click( function() {

        $(this).parent().toggleClass("active").next(".list").animate({
          opacity: 'toggle',
          height: 'toggle'
        }, 300);
        $(this).parent().next(".list").find("ul.more").hide();
        $(this).parent().next(".list").find("a.moreLink").removeClass("less").html("more");
        return false;

      });


    });
  </script>
</body>
</html>
